$fColor: rgb(32, 30, 30);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: 1px;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

.h1Header {
    padding-top: 5rem;
    font-size: 8rem;
    color: white;
}

.parallax-header {
    /* The image used 1250 x 800 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url('../../images/prague-czech-republic.jpg');
    /* Set a specific height */
    min-height: 40rem;
    border-bottom: #222 solid 2px;
}

.parallax-header2 {
    /* The image used 1250 x 800 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url();
    /* Set a specific height */
    min-height: 80rem;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 80% -11rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.parallax2 {
    /* Create the parallax scrolling effect */
    //background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    outline-color: rgb(238, 111, 52);
    outline-width: 3px;
    outline-style: solid;
}

.sect1 {
    height: 100%;
    width: 100%;
    background-image: url('../../images/handmadepaper.png');
    background-repeat: repeat;
    padding-top: 5rem;
}

.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.shadow-nohover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.menuList {
    font-size: 1.4rem;
    font-family: 'Amaranth', sans-serif;
    font-style: italic;
    li {
        margin-top: 3px;
    }
}

//
// Burger menu custom styles
//
.burger {
    position: relative;
    display: block;
    width: 15rem;
    margin: 0 auto 2rem;
}

.burger svg {
    fill: #4e4a46;
}

.burger:hover svg {
    fill: #c94e50;
}

.burger::after {
    position: absolute;
    top: 1.8rem;
    left: 0;
    right: 0;
    color: #b4bad2;
    content: 'R';
    font-family: 'Righteous', sans-serif;
    font-size: 4rem;
    text-align: center;
}

// main {
//     max-width: 46rem;
//     padding: 2rem 1rem;
//     margin: auto;
// }
/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */

.bm-item {
    display: inline-block;
}

/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

h1 {
    text-shadow: 0px 1px 2px rgb(206, 203, 203);
    color: $fColor;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.right .bm-burger-button {
    left: initial;
    right: 36px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-menu {
    background: #373a47;
    a {
        color: #b8b7ad;
        &:hover,
        &:focus {
            color: #c94e50;
        }
    }
}

.bm-item-list a {
    padding: 0.8em;
    span {
        margin-left: 10px;
        font-weight: 700;
    }
}

.bg-footer {
    background-color: rgb(205, 230, 254);
    height: 20rem;
    border-top: 30px, solid, black;
    outline: #373a47, solid, 5px;
}

// Start for Grid Area
.main {
    padding: 10%; //flex: 1 1 80%;
    display: block;
    min-height: 100vh;
    width: 1220px;
    margin: 0 auto; // margin-left: 12rem;
    padding-top: 5rem;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 20px minmax(50px, auto);
    grid-gap: 20px;
}

.one {
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    background-color: blue;
    z-index: 5;
    background-image: url(../../images/night1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two {
    grid-column: 5 / 6;
    grid-row: 3 / 11; //background-color: coral;
    z-index: 3;
    margin-bottom: 3rem;
}

.two h1 {
    color: $fColor;
    letter-spacing: 1.0rem;
}

.three {
    grid-column: 6 / 11;
    grid-row: 2 / 5; // background-color: firebrick;
    background-image: url(../../images/night2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.four {
    grid-column: 1 / 5;
    grid-row: 7 / 12;
    background-image: url(../../images/night3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; // background-color: rebeccapurple;
}

.five {
    grid-column: 6 / 11;
    grid-row: 5 / 10; //background-color: orangered;
    z-index: 3;
    background-image: url(../../images/night4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.six {
    grid-column: 1 / 5;
    grid-row: 12 / 15; // background-color: hotpink;
    z-index: 5;
    background-image: url(../../images/night5.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.seven {
    grid-column: 5 / 6;
    grid-row: 11 / 19; //background-color: goldenrod;
    margin-top: 3rem;
}

.seven h1 {
    color: $fColor;
    letter-spacing: 1.0rem;
}

.eight {
    grid-column: 6 / 11;
    grid-row: 10 / 14;
    background-image: url(../../images/night6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; //background-color: palegreen;
}

.nine {
    grid-column: 1 / 5;
    grid-row: 15/ 21;
    background-image: url(../../images/night8.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; //background-color: olivedrab;
}

.ten {
    grid-column: 6 / 11;
    grid-row: 14 / 20;
    background-image: url(../../images/night10.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; //background-color: dimgrey;
}

.one,
.three,
.four,
.five,
.six,
.eight,
.nine,
.ten {
    border: solid rgba(96, 99, 92, 0.877) 2px;
}

.thebackground {
    /*            background-color: coral;*/
    display: flex;
    justify-content: center;
    align-items: center; //overflow: hidden;
    transition: transform 2000ms ease 0;
}

.thebackground:hover {
    transform: scale(1.1);
}

.thebackground:nth-child(2):hover {
    transform: scale(1.0)
}

.thebackground:nth-child(7):hover {
    transform: scale(1.0)
}

.thebackground2 {
    width: 5rem;
    white-space: nowrap;
    writing-mode: vertical-lr;
    text-orientation: upright;
    word-spacing: 2rem; //margin: 3.5rem 0 0 0.5rem;
}

.myh1 {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.myh1 h1 {
    font-size: 5rem;
    color: $fColor;
}

div .imgBox {
    position: relative; // height: 38rem;
}

div .imgBox img {
    object-fit: cover; //object-position: 50% 50%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.thebackground .details {
    position: relative;
    width: 100%;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: whitesmoke;
    background-color: rgba(19, 17, 17, 0.52);
    transform: scaleY(0);
    transition: transform .5s;
}

.thebackground:hover .details {
    transform: scaleY(1);
}

.thebackground .details .imgContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.thebackground .details .imgContent p {
    padding: 20px 20px 20px 20px;
    line-height: 20px;
}

.thebackground .details .imgContent h2 {
    line-height: 2px;
}

.thefooter {
    min-height: 20rem;
    width: 100%;
    border-top: solid rgb(221, 210, 208) 3px;
    background-image: url('../../images/groovepaper.png');
    background-repeat: repeat;
}

.fcontainter {
    width: 100%;
    padding: 2rem;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; //align-content: space-between;
    justify-content: center;
}

.fcontsect1 {
    flex-basis: 33%;
}

.fcontsect2 {
    flex-basis: 33%;
}

.fcontsect3 {
    flex-basis: 33%;
}

[class^="fcontsect"] {
    padding-right: 8rem;
}